@import url(//db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold);

@import url(//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold);

@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);

@import url(//db.onlinewebfonts.com/c/17bcb89611a026bb2c02b1e38e1a3a90?family=SF+UI+Display);

@font-face {font-family: "Gilroy"; src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot"); src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff") format("woff"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.svg#Gilroy") format("svg"); }
@font-face {font-family: "Gilroy ExtraBold"; src: url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.eot"); src: url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.woff") format("woff"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.svg#Gilroy ExtraBold") format("svg"); }
@font-face {font-family: "Gilroy SemiBold"; src: url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.eot"); src: url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.woff") format("woff"), url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.svg#Gilroy SemiBold") format("svg"); }
@font-face {font-family: "SF UI Display"; src: url("//db.onlinewebfonts.com/t/17bcb89611a026bb2c02b1e38e1a3a90.eot"); src: url("//db.onlinewebfonts.com/t/17bcb89611a026bb2c02b1e38e1a3a90.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/17bcb89611a026bb2c02b1e38e1a3a90.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/17bcb89611a026bb2c02b1e38e1a3a90.woff") format("woff"), url("//db.onlinewebfonts.com/t/17bcb89611a026bb2c02b1e38e1a3a90.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/17bcb89611a026bb2c02b1e38e1a3a90.svg#SF UI Display") format("svg"); }

/* Sppiner */


#loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #E91E63 0%, #FC6B5F 98.65%);;
}

.header{
    background-image: url(Imagenes/imagenPrincipal.jpeg);
    height: 750px;
    background-size: cover;
    position: relative;
}

.imagenLogo{
    width: 100px;
    height: 100px;
}


.navbar {
  width: 100%;
  margin-top: 0;
  height: 100px;
}

.navbar-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-link{
    color: #ffffff !important;
    font-family: "Gilroy SemiBold";
    font-size: 18px
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}


.botonContacto{
  text-align: center;
}

.tituloHeaderDiv{
  position: absolute;
  top: 150px;
  z-index: 100;
  text-align: center;
  right: 0;
  left: 0;
}

.tituloHeader{
    color: #ffffff;
    font-size: 90px;
    line-height: 90px;
    font-family: "Gilroy ExtraBold"
}


.parrafoHeaderDiv{
    position: absolute;
    top: 400px;
    z-index: 100;
    text-align: center;
    right: 0;
    left: 0;
}

.parrafoHeader{
    color: #ffffff;
    font-size: 30px;
    line-height: 35px;
    font-family: "Gilroy SemiBold";
    margin-top: 40px;
}

.botonEmpecemosDiv{
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    position: absolute;
    top: 550px;
    z-index: 100;
}

.botonEmpecemos{
    background: linear-gradient(90deg, #E91E63 0%, #FC6B5F 98.65%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #ffffff;
    width: 200px;
    text-align: center;
    font-family: "Gilroy SemiBold";
    font-size: 25px;
    line-height: 42px;
    border-color: transparent;
}


.imagenEdificio{
    height: 550px;
    position: absolute;
    left: -150px;
    top: 200px;
}


.ocean { 
    height: 150px;
    width:100%;
    overflow: hidden;
    position: absolute;
    top: 600px;
    left: 0;
  }
  
  .ocean.v01 .wave {
    background: url(Imagenes/olaBlanca.png);
    background-repeat: repeat-x;
}
  
  .ocean.v01 {
      transform: rotate(180deg);
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .wave {
    background: url(Imagenes/olaBlanca.png) repeat-x; 
    position: absolute;
    bottom: -25px;
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    bottom: -25px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(5px);
    }
  }

/* Section Uno */

.carousel1{
  margin-top: 150px;
}

.carousel1__contenedor {
	position: relative;
}

.carousel1__anterior,
.carousel1__siguiente {
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
color: black;
	opacity: 100%;
}

.carousel1__anterior:hover,
.carousel1__siguiente:hover {
	opacity: 100%;
}


.carousel1__lista {
	overflow: hidden;
}

.carousel1__elemento {
	text-align: center;
  margin: 10px;
}



.carousel1__elemento{
  height: 489px;
}

.carousel1__elemento img{
  position: relative;
  width: 420px;
  height: 489px;
  border-radius: 20px;
  background: rgba(74, 20, 140, 0.45);
}

/* Carousel titulo/parrafo 1 */

.carousel1__elementoUno{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1__titulo1{
  position: absolute;
  top: 74px;
  
  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height: 110.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.carousel1__parrafo1{
  position: absolute;
  top: 426px;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Gilroy SemiBold";
}

/* Carousel titulo/parrafo 2 */
.carousel1__elementoDos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1__titulo2{
  position: absolute;
  top: 74px;

  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height: 110.3%;
  color: #FFFFFF;
  text-align: left;
}

.carousel1__parrafo2{
  position: absolute;
  top: 426px;

  font-family: "Gilroy SemiBold";
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;

}

/* Carrousel titulo/parrafo 3 */
.carousel1__elementoTres{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1__titulo3{
  position: absolute;
  top: 74px;

  color: #FFFFFF;
  text-align: left;
  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height: 110.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.carousel1__parrafo3{
  position: absolute;
  top: 426px;

  font-family: "Gilroy SemiBold";
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}

/* Carrousel titulo/parrafo 4 */
.carousel__elementoCuatro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1__titulo4{
  position: absolute;
  top: 74px;

  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height: 110.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.carousel1__parrafo4{
  position: absolute;
  top: 426px;

  font-family: "Gilroy SemiBold";
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}

/* Carrousel titulo/parrafo 5 */
.carousel1__elementoCinco{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1__titulo5{
  position: absolute;
  top: 74px;

  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height: 110.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.carousel1__parrafo5{
  position: absolute;
  top: 426px;

  font-family: "Gilroy SemiBold";
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;

}

/* Carrousel titulo/parrafo 6 */
.carousel1__elementoSeis{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel1__titulo6{
  position: absolute;
  top: 74px;

  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height: 110.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.carousel1__parrafo6{
  position: absolute;
  top: 426px;

  font-family: "Gilroy SemiBold";
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}

/* Carousel titulo/parrafo 7 */
.carousel1__elementoSiete{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1__titulo7{
  position: absolute;
  top: 74px;

  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height: 110.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.carousel1__parrafo7{
  position: absolute;
  top: 426px;

  font-family: "Gilroy SemiBold";
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}


/* Carousel titulo/parrafo 8 */
.carousel1__elementoOcho{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1__titulo8{
  position: absolute;
  top: 74px;

  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height: 110.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.carousel1__parrafo8{
  position: absolute;
  top: 426px;

  font-family: "Gilroy SemiBold";
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}

/* Carrousel titulo/parrafo 9 */
.carousel1__elementoNueve{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel1__titulo9{
  position: absolute;
  top: 74px;

  font-family: "Gilroy SemiBold";
  font-size: 25px;
  line-height:  110.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.carousel1__parrafo9{
  position: absolute;
  top: 426px;

  font-family: "Gilroy SemiBold";
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}

.carousel1__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: black;
	opacity: .2;
	border-radius: 0;
}

.carousel1__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel1__indicadores .glider-dot.active {
	opacity: 1;
}

/* Seccion Dos */
.sectionDos{
    margin-top: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.sectionDos p{
    font-family: "Gilroy ExtraBold";
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    background: linear-gradient(88.4deg, #4A148C 8.51%, #E91E63 71.81%, #FC6B5F 89.11%);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 75%;
}

/* Seccion Tres */

.sectionTres{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.sectionTres img{
    width: 420px;
    height: 420px;
}

.sectionTresTexto{
    width: 420px;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: center;
}


.sectionTresTexto h2{
    
    font-family: "Gilroy ExtraBold";
    font-size: 60px;
    line-height: 65px;
    color: #4A148C;
}

.sectionTresTexto p{
    text-align: justify;
    font-family: "Gilroy";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em;

}


/* Seccion Cuatro */

.sectionCuatro{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.sectionCuatroImg img{
    width: 420px;
    height: 420px;
}

.sectionCuatroTexto{
    width: 420px;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: center;
}


.sectionCuatroTexto h2{
    
    font-family: "Gilroy ExtraBold";
    font-size: 60px;
    line-height: 65px;
    color: #4A148C;
}

.sectionCuatroTexto p{
    text-align: justify;
    font-family: "Gilroy";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em;

}

/* Seccion Cinco */

.sectionCinco{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.sectionCincoImg img{
    width: 420px;
    height: 420px;
}

.sectionCincoTexto{
    width: 420px;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: center;
}


.sectionCincoTexto h2{
    
    font-family: "Gilroy ExtraBold";
    font-size: 60px;
    line-height: 65px;
    color: #4A148C;
}

.sectionCincoTexto p{
    text-align: justify;
    font-family: "Gilroy";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em;

}

/* Seccion Media 576px */
.sectionMedia{
  display: none;
}

/* Seccion Seis */

.sectionSeis{
  margin-top: 150px;
  background-image: url(Imagenes/imagenPrincipal.jpeg);
  height: 650px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.sectionSeisOlas{
  height: 100px;
}

.waveinvertidaseis{
background: url(Imagenes/olaBlancainvertida.png) repeat-x; 
position: absolute;
width: 6400px;
height: 200px;
animation: oladeabajo6 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;

}
.waveseis{
background: url(Imagenes/olaBlanca.png) repeat-x; 
position: absolute;
width: 6400px;
height: 150px;
animation: oladeabajo6 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;  
animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
top: 530px;
}



@keyframes oladeabajo6{
0%{ margin-left: 0 ;}
100%{
  margin-left: -6400px;
}
}

.sectionSeisTexto{
  width: 100%;
  position: absolute;
  top: 250px;
}

.sectionSeisTexto h3{
  font-family: "Gilroy ExtraBold";
  font-size: 86px;
  line-height: 101.5%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.sectionSeisTexto p{
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.sectionSeisBoton{
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionSeisBotonBtn{
  border-color: transparent;
  z-index: 150;
  font-family: "Gilroy SemiBold";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background: linear-gradient(90deg, #4A148C 99.99%, #FC6B5F 100%);
  color: #FFFFFF;
  border-radius: 30px;
  width: 300px;
  height: 70px;
}

/* Modalllllllll */

.modal-title{
  font-family: "Gilroy ExtraBold";
  font-size: 30px;
  line-height: 25px;
  color: #4A148C;
}

.modal-content{
  background-color: #FFFFFF;
  border-radius: 38px;
}

.mb-3{
  background: #F5F5F5 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.mb-3 input{
  color: #4A148C;
}

.modal-footer{
  justify-content: center;
}

.btn{
  background: linear-gradient(90deg, #E91E63 0%, #FC6B5F 98.65%);
  border-radius: 30px;
  color: #FFFFFF;
  font-family: "Gilroy";
  width: 150px;
}


/* Seccition Siete - Clientes */
  
.sectionSieteClientesTitulo h2{
  margin-top: 100px;
  font-family: "Gilroy ExtraBold";
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #4A148C;
  margin-bottom: 100px;
}

.card{
  height: 200px;
  justify-content: center;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.carousel-control-next{
  justify-content: flex-end;
} 
.carousel-control-prev{
  justify-content: flex-start;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 1rem;
  height: 1rem;
}

.carousel-control-prev-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/128/271/271220.png);
}
.carousel-control-next-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/128/271/271228.png);
}
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}



/* Section Ocho */
.sectionOchoTitulo{
  margin-top: 150px;
  font-family: "Gilroy ExtraBold";
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #4A148C;
  margin-bottom: 100px;
}

.sectionOcho{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px;
}

.sectionOchoUno, .sectionOchoDos, .sectionOchoTres{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 500px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
  border-radius: 20px;
  transition: all 0.5s ease;
 
  margin: 10px;

}

.sectionOchoUno h3, .sectionOchoDos h3, .sectionOchoTres h3{
  width: 300px;
  height: 85px; 
  background: #4A148C;
  border-radius: 21px;
  font-family: "Gilroy ExtraBold";
  font-size: 35px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionOchoUno p, .sectionOchoDos p, .sectionOchoTres p{
  width: 300px;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 144.84%;
  text-align: center;
  color: #4A148C;
}

.sectionOchoUno:hover p, .sectionOchoDos:hover p, .sectionOchoTres:hover p{
  color: #FFFFFF !important;
}

.sectionOchoUno:hover h3, .sectionOchoDos:hover h3, .sectionOchoTres:hover h3{
  background-color: #F90C65;
}

.sectionOcho a{
  width: 301.39px;
  height: 71px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(90deg, #E91E63 0%, #FC6B5F 98.65%);
  border-radius: 21px;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  font-family: "Gilroy";
}

.sectionOchoUno:hover p{
  color: #FFFFFF;
}
.sectionOchoUno:hover, .sectionOchoDos:hover, .sectionOchoTres:hover{
  cursor: pointer;
  width: 400px;
  height: 544px;
  background: #F90C65;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  
}


/* Section Nueve */

.sectionNueve{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 550px;
  background: #4A148C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-bottom: 200px;

  margin-left: 15px;
  margin-right: 15px;
}

.sectionNueveUno{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.sectionNueveUno h3{
  margin-top: 40px;
  font-family: "Gilroy ExtraBold";
  font-size: 70px;
  line-height: 98.8%;
  /* or 79px */
  letter-spacing: 0.005em;
  color: #F90C65;
  text-align: left;
}

.sectionNueveUno p{
  font-family: "Gilroy SemiBold";
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

.sectionNueveUno button{
  background: linear-gradient(90deg, #E91E63 0%, #FC6B5F 98.65%);
  width: 250px;
  height: 65.59px;
  border-radius: 30px;
  margin-bottom: 40px;

  font-family: "Gilroy SemiBold";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;

  border-color: transparent;
}

.sectionNueveDos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.sectionNueveDosUnoTexto{
  list-style: none;
  font-family: "Gilroy";
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.sectionNueveDosDosTexto{
  list-style: none;
  font-family: "Gilroy";
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.sectionNueveTres{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.sectionNueveTresUnoTexto{
  list-style: none;
  font-family: "Gilroy";
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.sectionNueveTresDosTexto{
  list-style: none;
  font-family: "Gilroy";
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.sectionNueveDosUnoLogo, .sectionNueveDosDosLogo, .sectionNueveTresUnoLogo, .sectionNueveTresDosLogo{
  list-style: none;
}

/* Section Diez */
.sectionDiez{
  background-image: url(Imagenes/Formulario-final.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 735px;
}

.sectionDiezFormularioConteiner{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;

  padding-top: 15px;
}

.sectionDiezFormulario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}

.sectionDiezFormularioTitulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.sectionDiezFormularioTitulo h3{
  width: 400px;
  font-family: "Gilroy ExtraBold";
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #E91E63;
}

.sectionDiezFormularioInput input{
  width: 400px;
  height: 45px;
  margin-bottom: 20px;

  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius:  4px;
  border-color: transparent;

}

.sectionDiezFormularioCheckbox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;


}

.sectionDiezFormularioCheckboxInput{
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: center;
  width: 400px;
  margin-bottom: 20px;
}


.sectionDiezFormularioCheckboxTextarea textarea{
  width: 400px;
  height: 120px;
  resize: none;

  margin-bottom: 20px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  border-color: transparent;

}

.sectionDiezFormularioCheckboxTextarea button{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 280px;
  height: 35px; 
  background: linear-gradient(90deg, #E91E63 0%, #FC6B5F 98.65%);
  border-color: transparent;
  border-radius: 20px;


  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}




/* WhatsApp */

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 44.5px;
  bottom: 40px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba (0, 0, 0, 0.3);
  z-index: 100;
}

/* Footer */

.footerConteiner{
  height: 120px;
  background-color: #4A148C;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
}

.footerLogo{
  order: 1;
}

.footerLogo img{
  width: 100px;
  height: 100px;
}

.footerTexto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
}


.footerTexto h3 {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.footerTexto p{
  
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  text-align: center;

  color: #FFFFFF;
}

.footerRedes{
  order: 3;
  padding-bottom: 10px;
}

.footerRedes img{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.footerRedes a{
  text-decoration: none;
}


/* Media */

/* Carrousel - 1 */

@media (max-width: 1290px){
  .carousel1__titulo1, .carousel1__titulo2, .carousel1__titulo3, .carousel1__titulo4, .carousel1__titulo5, .carousel1__titulo6, .carousel1__titulo7, .carousel1__titulo8, .carousel1__titulo9{
      font-size: 20px;
      text-align: center;
  }
}


@media (max-width: 1196px) {
    /* Header */
    .tituloHeaderDiv{
        top: 250px
    }
    .tituloHeader{
        color: #ffffff;
        font-size: 60px;
        line-height: 60px;
    }
    /* Carrousel - 1 */
    .carousel1__elemento{
      height: 350px;
    }
    
    .carousel1__elemento img{
      height: 350px;
  
    }
    .carousel1__parrafo1, .carousel1__parrafo2, .carousel1__parrafo3, .carousel1__parrafo4, .carousel1__parrafo5, .carousel1__parrafo6, .carousel1__parrafo7, .carousel1__parrafo8, .carousel1__parrafo9{
     top: 300px;
    }
    /* Section Nueve */
    .sectionNueve {
      justify-content: center;
      height: max-content;
      padding: 40px;

    }

}

@media(max-width: 1040px){
    /* SeccionCuatroTexto */
    .sectionCuatroTexto{
        order: 2;
    }
}

@media(max-width: 992px){
    /* Header */
    .botonContacto{
        background-color: transparent !important;
        border-radius:0px;
        width: none;
        text-align: start !important;
        margin-left: 0px !important;
        margin-right:0px !important;
    }

    .tituloHeaderDiv{
      top: 250px;
    }

    .parrafoHeaderDiv{
      top: 400px;
    }
    
    .botonEmpecemosDiv{
      top: 500px;
    }

    .parrafoHeader{
        color: #ffffff;
        font-size: 25px;
        line-height: 25px
    }

    .navbarTotal{
      position: sticky !important;
    }

    /* Color Hamburguesa */

    .navbar{
      background: linear-gradient(
        90deg, #c41ee9 0%, #9243dd 98.65%);
      padding: 0%;
      height: 80px;
    }
    .container-fluid{
      background: linear-gradient(
        90deg, #630862 0%, #3d206f 98.65%)
    }
    .imagenLogo{
      height: 80px;
    }

    .imagenEdificioDiv{
      display: none;
    }
    
    /* Carrousel - 1 */
    .carousel1__elemento{
      height: 300px;
    }
    
    .carousel1__elemento img{
      height: 300px;
  
    }

    .carousel1__titulo1, .carousel1__titulo2, .carousel1__titulo3, .carousel1__titulo4, .carousel1__titulo5, .carousel1__titulo6, .carousel1__titulo7, .carousel1__titulo8, .carousel1__titulo9{
        font-size: 15px;
        text-align: center;
    }
    .carousel1__parrafo1, .carousel1__parrafo2, .carousel1__parrafo3, .carousel1__parrafo4, .carousel1__parrafo5, .carousel1__parrafo6, .carousel1__parrafo7, .carousel1__parrafo8, .carousel1__parrafo9{
      font-size: 12px;
      text-align: center;
      top: 250px;
    }

     /* Seccion Diez */
    .sectionDiez{
      height: 750px;
    }

}

@media(max-width: 860px){
    /* Seccion Nueve */
    .sectionNueveUno {
      align-items: center;
      text-align: center;
  }
  
  .sectionNueveUno h3 {
    text-align: center;
  }
  
  .sectionNueveTres {
    text-align: center;
  
  }

  .sectionNueveDos {
    text-align: center;
}

/* Section Footer */
  .footerConteiner{
    height: max-content;
  } 
  .footerLogo{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .footerTexto{
    width: 100%;
  }

  }


@media(max-width: 790px){
  /* Seccion Dos */
  .sectionDos p{
    font-size: 35px;
    line-height: 45px;
  }

   /* Seccion Seis */
   .sectionSeisTexto h3 {
    font-size: 75px;
   
  }
  .sectionSeisTexto p{
    font-size: 18px;
  }

  .sectionSeisBotonBtn {
    width: 200px; 
    height: 40px;
    font-size: 18px;
  }

  .nav-link{
    font-size: 15px;
  }

}

@media(max-width: 655px){
  /* Seccion Nueve */
  .sectionNueveDos {
    text-align: center;
  }
}

@media(max-width: 640px){

  /* Header */
  .tituloHeader {
    font-size: 50px;
  }

  .parrafoHeader{
    font-size: 20px;
  }

   .botonEmpecemosDiv{
     top: 560px;  
   }

   .botonEmpecemos{
     line-height: 30px;
   }

   /* Section Siete */
   .sectionSieteClientesTitulo h2 {
     font-size: 45px;
     line-height: 50px;
   }
   .sectionOchoTitulo{
     font-size: 45px;
     line-height: 50px;
   }
}

@media(max-width: 576px){
    /* Header */
    .tituloHeader{
        color: #ffffff;
        font-size: 45px;
        line-height:45px;
    }
    .parrafoHeaderDiv{
        top: 350px;
        font-size: 30px; 
    }

    .botonEmpecemosDiv{
      top: 450px;
    }
    /* Section Seis */

    .sectionSeis {
      height: 680px;
    }

    .sectionSeisTexto {
      top: 200px;
    }

    .sectionSeisTexto h3 {
      font-size: 45px;
  }
    
    /* SECCION TRES - CUATRO - CINCO */
    .sectionTres, .sectionCuatro, .sectionCinco{
      display: none;
    }

    .sectionMedia{
      display: block;
      margin-top: 150px;
    }

    .divImagenIconoUno{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .imagenIconoUno{
      width: 300;
      height: 300px;
    }

    .accordion-item{
      border-color: transparent !important;
      margin-bottom: 150px;
    }
    
    .divBotonIconoUno{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .accordion-button{
      width: 30px;
    }
    .accordion-button:focus {
        border-color: transparent !important;  
        box-shadow: none !important; 
    }

    .accordion-button:not(.collapsed) {
      color: transparent !important;
      background-color: transparent !important;
      box-shadow: none !important;
  }

    /* Seccion Nueve */
    .sectionNueveDosUno{
     padding: 0;
    }

    .sectionNueveDosDos{
      padding: 0;
    }

    .sectionNueveTresUno{
      padding: 0;
    }

    .sectionNueveTresDos{
      padding: 0;
    }

   /* Seccion Diez */
    .sectionDiezFormularioConteiner{
      width: 350px;
    }

    .sectionDiezFormularioTitulo{
      margin-bottom: 10px;
     
    }
    .sectionDiezFormularioTitulo h3{
      font-size: 24px;
      width: 320px;
   
    }
        
    .sectionDiezFormularioInput input{
      width: 320px;
    }

    .sectionDiezFormularioCheckboxInput{
      width: 320px;
    }

    .sectionDiezFormularioCheckboxTextarea textarea{
      width: 320px;
    }

    /* Footer */
    .footerConteiner{
      height: max-content;
    }

    @media(max-width: 446px){
      .carousel1__elemento img{
        height: 430px;
      }
  }

    @media(max-width: 440px){
        .parrafoHeader{
          display: none;
        }
    }
}


